/*color palette:
https://colorhunt.co/palette/00a9ff89cff3a0e9ffcdf5fd
*/
/* line 5, app/assets/stylesheets/custom.css.scss */
.navbar {
  background-color: #00A9FF !important;
}

/* line 9, app/assets/stylesheets/custom.css.scss */
.nav-link {
  color: white !important;
}

/* line 14, app/assets/stylesheets/custom.css.scss */
#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
