<div id = "page-content">


  <div class="container" id = "home-container">

    <!-- Jumbotron -->
    <div class="p-5 text-center bg-image rounded-3" id = "home-jumbotron">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-gray">
            <h1 class="mb-3">Alpha Blog</h1>
            <h4 class="mb-3">Just another blogging site!</h4>
            <a class="btn btn-primary btn-lg" href="#!" role="button">Sign up!</a>
          </div>
        </div>
    </div>
    <!-- Jumbotron -->


  </div>
</div>

<p align="center">Foto de <a href="https://unsplash.com/es/@fempreneurstyledstock?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Leone Venter</a> en <a href="https://unsplash.com/es/fotos/magic-keyboard-al-lado-de-la-taza-y-el-boligrafo-de-clic-VieM9BdZKFo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Unsplash</a></p>
